@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* Resets */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Global Vars */
:root {

    /* main colors */
    --body-color: hsl(30, 38%, 92%);
    --primary-color: hsl(158, 36%, 37%);
    --card-body-color: hsl(0, 0%, 100%);

    /* text colors */
    --heading-color: hsl(212, 21%, 14%);
    --main-font-color: hsl(228, 12%, 48%);

    /* fonts */
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Fraunces', serif;
}

body {
    background-color: var(--body-color);
}

/* Typography */

p {
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--main-font-color);
    line-height: 1.75;
}

h1 {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--heading-color);
    font-size: 2rem;
    line-height: 1;
}

.card-heading {
    letter-spacing: 0.25rem;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}


/* mobile card layout */
.product-card {
    --card-radius: 0.5rem;

    display: grid;
    grid-template-columns: 1fr;

    background-color: var(--card-body-color);
    border-radius: var(--card-radius);
    overflow: hidden;
}

.card-body {
    padding: 1.5rem;

    display: grid;
    gap: 1rem;
}

.price-container, button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* price styles */
.price {
    color: var(--primary-color);
}

.original-price {
    text-decoration: line-through;
}

/* button styles */

button {
    justify-content: center;
    
    background-color: var(--primary-color);
    color: var(--card-body-color);

    font-family: var(--primary-font);
    font-size: 1rem;
    /* font-weight: 500; */

    padding: 1rem 0;
    border: none;
    border-radius: var(--card-radius);
}